@charset "UTF-9";
/*
@import "dw.css";
#test {
  display: none;
}
*/
div#container {
  float: left;
  width: 500px;
  height: 500px;
}
div#top-stand {
  clear: both;
  background-color: #c80;
  float: left;
  margin: 10px;
  width: 30px;
}
#shogi {
  margin: 10px 10px 20px 0px;
  float: left;
  position: relative;
  /*background-image: url(savanna.png);*/
}
div.window_contents {
  float: left;
  overflow: auto;
  position: relative;
}

#board-panel {
  width: 410px;
  height: 420px;
  margin: 10px 0px 10px 0px;
  float: left;
  overflow: auto;
  position: relative;
  /*background-image: url(savanna.png);*/
}
div#bottom-stand {
  background-color: #c8c;
  margin: 100px 0px 0px 0px;
  float: left;
  width: 30px;
}
div#black-stand {
  background-color: #c80;
  width: 30px;
  height: 100%;
}
div#white-stand {
  background-color: #c8c;
  width: 30px;
  height: 100%;
}
div.cell {
  width: 40px;
  height: 42px;
  margin-top: -1px;
  /*margin-left: -1px;*/
  /*padding: 1px;*/
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  /*float: left;*/
  position: absolute;
  /*background-image: url(savanna.png);*/
}
div.rightCell {
  border-right: 1px solid black;
}
div.leftCell {
  border-left: 1px solid black;
}
div.topCell {
  border-top: 1px solid black;
  margin-top: 0px;
}
div.dummyCell {
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #aaa;
}
div.colNum {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
div.rowNum {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
div#cornerDummy {
  background-color: #008;
}
div#promoteOrNot {
  background-color: yellow;
}
div#yesElement {
  color: red;
}
div#noElement {
  color: blue;
}
img.pieceImg {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 35px;
  height: 35px;
  margin: 2px;
/*
  -moz-box-shadow: 3px 3px 2px black;
  -webkit-box-shadow: 3px 3px 2px black;
*/
}
div.piece.isImg img { display: block; }
div.piece.isTxt img { display: none; }
div.piece.isImg div { display: none; }
div.piece.isTxt div { display: block; }

.pieceTxt {
  position:		relative;
  margin:		0px;
  padding-left:		5px;
  padding-bottom:	2px;
  padding-top:		2px;
  top:			1px;
  left:			1px;
  
  /*width: 20px; */
  /*height: 20px; */
  font-size: 30px;
  /*font-family: '梅 P明朝';*/
  /*font-family: 'Takao P明朝';*/
  font-family: 'serif';
}

div.top {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.basicimage(rotation=2);
  /* margin-top:     16px; */
  margin-bottom: -20px;
  margin-left:    10px;
}
img.top {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.basicimage(rotation=2);
}
div.bottom {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
img.bottom {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.join {
  font-size: medium;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}
#top-panel {
  float: left;
  text-align: right;
  margin-top: 2px;

}
#counter {
  margin-top: 2px;
  margin-right: 2px;
  text-align: right;
}
#bottom-panel {
  float: left;
  text-align: left;
  margin-top: 2px;
}
#message {
/*  height: 100px; */
  font-size: small;
}
#message-body {
  padding: 1px;
}
.player {
  margin: 5px;
}
span.mine {
  text-decoration: underline;
}
span.turn {
  background-color: #FFCCCC;
}
#sidebar {
  margin: 20px;
  margin-left: 20px;
  margin-top: 0;
  float: left;
}
#bottom-captured {
  height: 60px;
  padding: 3px;
}
#top-captured {
  height: 60px;
  padding: 3px;
}
#bottom-captured img {
  width: 50px;
  height: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#top-captured img {
  width: 50px;
  height: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
div#joinButton {
  width: 150px;
}
div#rev-b {
  float:left;
  display: inline;
}
button.join {
  width: 150px;
  padding: 5px;
  border: 1px solid black;
  color: yellow;
  background-color: black;
  margin-left: 20px;
  font-size: large;
}
pre#json {
  clear: both;
}
table.storeTable tr td{
  border: 1px solid yellow;
}

p#links_pool {
  width: 300px;
}

p#links_pool a,#window_pool a {
  margin: 3px;
}
