@charset "UTF-8";

div#container {
  float: left;
  width: 500px;
  height: 500px;
}
div#top-stand {
  clear: both;
  background-color: #c80;
  float: left;
  margin: 10px;
  width: 30px;
}
div.window_contents {
  float: left;
  overflow: auto;
  position: relative;
}

#board-panel {
  width: 410px;
  height: 420px;
  float: left;
  position: relative;
}
div#bottom-stand {
  background-color: #c8c;
  margin: 100px 0px 0px 0px;
  float: left;
  width: 30px;
}
div#black-stand {
  background-color: #c80;
  width: 30px;
  height: 100%;
}
div#white-stand {
  background-color: #c8c;
  width: 30px;
  height: 100%;
}
div.cell {
  width: 40px;
  height: 42px;
  margin-top: -1px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
}
div.rightCell {
  border-right: 1px solid black;
}
div.leftCell {
  border-left: 1px solid black;
}
div.topCell {
  border-top: 1px solid black;
  margin-top: 0px;
}
div.dummyCell {
  width: 35px;
  height: 35px;
  position: absolute;
}
div.colNum {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  text-align: center;
}
div.rowNum {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
div#promoteOrNot {
  background-color: yellow;
}
div#yesElement {
  color: red;
}
div#noElement {
  color: blue;
}
img.pieceImg {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
div.piece.isImg img { display: block; }
div.piece.isTxt img { display: none; }
div.piece.isImg div { display: none; }
div.piece.isTxt div { display: block; }

.pieceTxt {
  position:	relative;
  font-size:	40px;
  font-family:	Tangerine, serif;
}

div.top {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.basicimage(rotation=2);
}
img.top {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.basicimage(rotation=2);
}
.join {
  font-size: medium;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}
#top-panel {
  float: left;
  text-align: right;
  margin-top: 2px;

}
#counter {
  float:	left;
  margin-top:	2px;
  margin-right:	2px;
  margin-left:	10px;
}
#bottom-panel {
  float: left;
  text-align: left;
  margin-top: 2px;
}
#message {
  font-size: small;
}
#message-body {
  padding: 1px;
}
.player {
  margin: 5px;
}
span.mine {
  text-decoration: underline;
}
span.turn {
  background-color: #FFCCCC;
}
#sidebar {
  margin: 20px;
  margin-left: 20px;
  margin-top: 0;
  float: left;
}
#bottom-captured {
  height: 60px;
  padding: 3px;
}
#top-captured {
  height: 60px;
  padding: 3px;
}
div#joinButton {
  width: 150px;
}
div#rev-b {
  float:left;
  display: inline;
}
button.join {
  width: 150px;
  padding: 5px;
  border: 1px solid black;
  color: yellow;
  background-color: black;
  margin-left: 20px;
  font-size: large;
}
table.storeTable tr td{
  border: 1px solid #ccc;
}

div#links_pool {
  width: 300px;
}

div#links_pool a,#window_pool a {
  margin: 3px;
}

div#toPngButton {
 height:	16px;
 width:		16px;
 -moz-border-radius:	8px;
 -webkit-border-radius: 8px;
 background:	url(../img/lib/material-icon-ball-64x64.jpg) -230px -105px no-repeat;
 float:		right;
 }

div.toMain {
 height:	16px;
 width:		16px;
 -moz-border-radius:	8px;
 -webkit-border-radius: 8px;
 background:	url(../img/lib/material-icon-ball-64x64.jpg) -90px -35px no-repeat;
 float:		right;
 }

div.save {
 height:	16px;
 width:		16px;
 -moz-border-radius:	8px;
 -webkit-border-radius: 8px;
 background:	url(../img/lib/material-icon-ball-64x64.jpg) -90px -175px no-repeat;
 float:		right;
 }

.deleteBkmkButton {
 height:13px;
 width:13px;
 background-image:url("../img/lib/window_close.gif");
 }

div.bkmkEntry {
  clear: both;
}

div.bkmkEntry * {
  float: left;
  margin: 5px;
}
